@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
.a{
  font-family:'Times New Roman', Times, serif
}
.b{
  font-family: kablammo;
  font:bolder;
  font-size: xx-large;
}
.header{
       text-shadow: 2px 1px gray;
        
  }

  

  